html {
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --red: #ee3438;
  --black: #000000;
  --blue: #0b2d72;
  --green: #408a71;
  --lightBlue: #e7edf6;

  --max-width: 1500px;
  --navbar-height: 90px;
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0 !important;
}
.mb-0 {
  margin-bottom: 0;
}
.justify-end {
  display: flex;
  justify-content: end;
}
.pointer {
  cursor: pointer;
}

.blueButton {
  border: 1px solid var(--blue);
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1.5rem;
  background: var(--white);
  color: var(--blue);
}
.blueButton:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.greenButton {
  border: 1px solid var(--white);
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1.5rem;
  background: var(--green);
  color: var(--white);
}
.greenButton:hover {
  background-color: var(--white);
  border: 1px solid var(--green);
  color: var(--green);
  cursor: pointer;
}
